[submodule "simonqq21-portfolio/themes/ananke"]
	path = simonqq21-portfolio/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/fixit"]
	path = themes/fixit
	url = git@github.com:hugo-fixit/FixIt.git
