
{{ define "content" }}
    
    {{/*  <style>
        span {
            color: blue;
            }
    </style>  */}}

    <div class="main green">
        <h1>{{ .Title }}</h1> 
        <ol>
            {{ range .Pages.ByDate }}
                <li>
                    <h2>
                        <span>{{ .Title }}</span>
                        <span> - </span>
                        <span>{{ .Params.institution }}</span>
                    </h2>
                    
                    <span class="span-spacing">{{ .Params.years }}</span>
                    {{ range .Params.awards }}
                        <p>
                            <span>{{ .name }}</span>
                            {{ if .details }}
                                <span> - {{ .details }}</span>
                            {{ end }}
                        </p>       
                    {{ end }}
                </li>
            {{ end }}
        </ol>
    </div>
    
    
{{ end }}