{{- define "title" -}}
  {{- .Title }} - {{ T .Data.Singular | default .Data.Singular -}}
  {{- if .Site.Params.withSiteTitle }} {{ .Site.Params.titleDelimiter }} {{ .Site.Title }}{{- end -}}
{{- end -}}

{{- define "content" -}}
  
  <div class="page archive">
    {{- /* Title */ -}}
    {{- $taxonomy := .Data.Plural -}}
    {{- $pageCount := len .Pages -}}
    {{- $termIcon := "" -}}
    {{- $termTitle := .Title -}}
    {{- if eq $taxonomy "category" -}}
      {{- $termIcon = "fa-regular fa-folder-open" -}}
    {{- else if eq $taxonomy "tag" -}}
      {{- $termIcon = "fa-solid fa-tag" -}}
    {{- else if eq $taxonomy "collection" -}}
      {{- $termIcon = "fa-solid fa-layer-group" -}}
    {{- else -}}
      {{- $termTitle = printf "%v" (.Title) -}}
    {{- end -}}
    <h1 class="single-title animate__animated animate__pulse animate__faster">
      {{- with $termIcon -}}
        {{- dict "Class" (add . " fa-fw me-1") | partial "plugin/icon.html" -}}
      {{- end -}}
      {{- $termTitle }}
      {{/*  <sup>{{ $pageCount }}</sup>  */}}
    </h1>

    {{- /* Paginate */ -}}
    {{- if .Pages -}}
      {{- $pages := .Pages.GroupByDate "2006" -}}
      {{- with .Site.Params.list.paginate | default .Site.Params.paginate -}}
        {{- $pages = $.Paginate $pages . -}}
      {{- else -}}
        {{- $pages = .Paginate $pages -}}
      {{- end -}}
      {{- partial "recently-updated.html" . -}}

      {{- range .Pages.ByDate.Reverse -}}
        <h2 class="group-title">
          {{- dict "Class" "fa-regular fa-calendar fa-fw me-1" | partial "plugin/icon.html" -}}
          <span>{{ .Params.timespan  }}</span>
          <span class="ml-m">{{  cond (.Param "capitalizeTitles") (title .LinkTitle) .LinkTitle }}</span>
        </h2>
        <article class="archive-item">
          <div class="">
            

            {{/*  <h3>{{ .RelPermalink }}</h3>  */}}
            {{- $repost := .Params.repost | default dict -}}
            {{- if eq $repost.enable true -}}
              {{- dict "Class" "fa-solid fa-share fa-fw text-success me-1" | partial "plugin/icon.html" -}}
            {{- end -}}
              
            {{ range .Params.roles }}
              <p>{{ . }}</p>  
            {{ end }}
          </div>
          </span>
        </article>
      {{- end -}}

      {{- partial "paginator.html" . -}}
    {{- end -}}
  </div>
  {{ $style := resources.Get "css/style.css"  }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{- end -}}
